.typography {
  font-size: 20px;
  color: inherit;
  display: inline-block;
}

.title {
  color: var(--color-title);
}

.text {
  color: var(--color-text);
}

.accent {
  color: var(--color-primary);
}

.error {
  color: var(--color-error);
}

.regular_14 {
  font-size: 14px;
  font-weight: 400;
}

.regular_16 {
  font-size: 16px;
  font-weight: 400;
}

.regular_18 {
  font-size: 18px;
  font-weight: 400;
}

.regular_20 {
  font-size: 20px;
  font-weight: 400;
}

.medium_14 {
  font-size: 14px;
  font-weight: 500;
}

.medium_16 {
  font-size: 16px;
  font-weight: 500;
}

.medium_18 {
  font-size: 18px;
  font-weight: 500;
}

.medium_20 {
  font-size: 20px;
  font-weight: 500;
}

.semibold_16 {
  font-size: 16px;
  font-weight: 600;
}

.semibold_18 {
  font-size: 18px;
  font-weight: 600;
}

.semibold_20 {
  font-size: 20px;
  font-weight: 600;
}

.semibold_22 {
  font-size: 22px;
  font-weight: 600;
}

.bold_16 {
  font-size: 16px;
  font-weight: 700;
}

.bold_18 {
  font-size: 18px;
  font-weight: 700;
}

.bold_20 {
  font-size: 20px;
  font-weight: 700;
}

.bold_22 {
  font-size: 22px;
  font-weight: 700;
}

.bold_24 {
  font-size: 24px;
  font-weight: 700;
}
