.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;

  input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
  }

  input[type='checkbox']:checked + .checkmark {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  input[type='checkbox']:checked + .checkmark:after {
    display: block;
  }

  &.disabled {
    cursor: not-allowed;

    .checkmark {
      background-color: var(--color-primary-light);
    }

    .text {
      color: rgb(0 0 0 / 0.25);
    }
  }
}

.checkmark {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color-background-checkbox);
  transition: all 0.3s;

  &:after {
    position: absolute;
    display: none;
    border: solid var(--color-primary-light);
    border-width: 0 2px 2px 0;
    content: '';
    transform: rotate(45deg);
  }

  &.small {
    width: 14px;
    height: 14px;

    &:after {
      top: 0;
      left: 3px;
      width: 4px;
      height: 8px;
    }
  }

  &.medium {
    width: 18px;
    height: 18px;

    &:after {
      top: 1px;
      left: 5px;
      width: 5px;
      height: 10px;
    }
  }

  &.large {
    width: 24px;
    height: 24px;

    &:after {
      top: 1px;
      left: 7px;
      width: 7px;
      height: 14px;
    }
  }
}

.text {
  margin-left: 5px;
}
