.flex {
  display: flex;
}

.max {
  width: 100%;
}

.justify_start {
  justify-content: flex-start;
}

<<<<<<< HEAD
.justify_center {
  justify-content: center;
}

.justify_end {
  justify-content: flex-end;
}

.justify_between {
=======
.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
>>>>>>> 49a49fd (fix: client lint error)
  justify-content: space-between;
}

.align_start {
  align-items: flex-start;
}

<<<<<<< HEAD
.align_center {
  align-items: center;
}

.align_end {
=======
.alignCenter {
  align-items: center;
}

.alignEnd {
>>>>>>> 49a49fd (fix: client lint error)
  align-items: flex-end;
}

.direction_row {
  flex-direction: row;
}

.direction_column {
  flex-direction: column;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap12 {
  gap: 12px;
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}
