.skeleton {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background-color: #4a4949;

  &:before {
    position: absolute;
    top: 0;
    left: -150px;
    display: block;
    width: 80%;
    height: 100%;
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgb(129 128 128) 50%,
      transparent 100%
    );
    content: "";
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}
