
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network

  nest-api:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: nest-api
    env_file:
      - .env
    ports:
      - "3001:3000"
    depends_on:
      - postgres
    networks:
      - app-network



  nginx:
    image: fholzer/nginx-brotli
    container_name: lango-nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
        - ./conf.d:/etc/nginx/conf.d:ro
        - ../client/dist:/usr/share/nginx/html:ro

    depends_on:
      - nest-api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres:
