
services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data

  api:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: nest-api
    env_file:
      - .env
    ports:
      - "3001:3000"
    depends_on:
      - postgres

volumes:
  postgres:
