.link {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
}

.active {
  border-left: 4px solid var(--color-primary);
  background: linear-gradient(
    90deg,
    var(--color-active-link),
    var(--color-section)
  );
  color: var(--color-primary);
}
