.btn {
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--color-title);

  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  gap: 8px;
  transition: all 0.1s ease-in;

  &:active {
    transform: translateY(2px);
  }
}

.start {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}

.center_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-section);

  &:hover {
    opacity: 0.85;
  }
}

.outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.transition {
  width: inherit;
  height: inherit;
  padding: 0;
  background-color: transparent;
}
