* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: conic-gradient(
    from 330deg at 50% 50%,
    var(--grad-1) 0deg,
    var(--grad-2) 90deg,
    var(--grad-3) 180deg,
    var(--grad-4) 270deg,
    var(--grad-1) 360deg
  );
  background-blend-mode: screen;

  background-size: 100% 100%;
  color: var(--color-text);

  font: var(--font-m);
}
