@font-face {
  font-family: Manrope-Custom;
  font-style: normal;
  font-weight: 500;
  src: url('../../../shared/assets/fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Manrope-Custom;
  font-style: normal;
  font-weight: 400;
  src: url('../../../shared/assets/fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Manrope-Custom;
  font-style: normal;
  font-weight: 600;
  src: url('../../../shared/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Manrope-Custom;
  font-style: normal;
  font-weight: 700;
  src: url('../../../shared/assets/fonts/Manrope-Bold.ttf') format('truetype');
}
