ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

svg {
  width: 24px;
  height: 24px;
}
