@use './fonts';

:root {

  /* Шрифты */
  --family-main: 'Manrope-Custom';
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: 16px / 24px var(--family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: 24px / 32px var(--family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: 32px / 40px var(--family-main);

  /* Размеры */
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  /* Z-index */
  --z-index-modal: 10;

  /* Цвета */
  --overlay: rgba(0 0 0 / 0.5);
  --red-light: #ff0000;
  --red-dark: #c50a0a;
  --color-error: #ff0000;

  /* Уже существующие */
  --header-height: 75px;
  --margin-block-layout: 40px;
  --layout-height: calc(100vh - var(--margin-block-layout));
  --page-height: calc(100vh - var(--header-height) - var(--margin-block-layout));

  /* Модальное окно */

  --modal-background: #ffffff;

}
