.main {
  color: var(--color-title);

  display: grid;
  grid-template-columns: auto 320px;
  gap: 20px;
  justify-content: space-between;
}

.block {
  background-color: var(--color-section);
  padding: 20px;
  border-radius: 12px;
}

.title {
  margin-bottom: 12px;
}

.list {
  margin-bottom: 12px;
}
.user_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
