.aside {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 12px;
  border-radius: 12px;
  background-color: var(--color-section);
}

.content {
  padding-top: 12px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  object-fit: cover;
}

.icon {
  width: 32px;
  height: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 30px;
}

.subtitle {
  color: var(--color-text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-inline: 20px;
}

.img {
  width: 210px;
  object-fit: cover;
}

.btn_action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
}
