name: server.ci
on:
  push:
    branches:
    - main
    - 'feature/**'
    paths:
      - 'server/**'
      - 'prisma/**'
  pull_request:
    branches:
      - main
    paths:
      - 'server/**'
      - 'prisma/**'


jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./server
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - uses: actions/checkout@v4
      - name: DEBUG stage
        run: |
          pwd
          ls -la
          echo "Current branch: ${GITHUB_REF}"

      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'server/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Prisma generate
        run: npx prisma generate

      - name: Prisma validate
        run: npx prisma validate

      - name: Build project
        run: npm run build



