.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);

  opacity: 0;
  pointer-events: none;

  transition: opacity 300ms ease;

  &.opened {
    opacity: 1;
    pointer-events: auto;
  }

  &.closing {
    opacity: 0;
    pointer-events: none;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;


  transition: background 300ms ease;
}

.content {
  padding: 20px;
  border-radius: 20px;
  background: var(--modal-background);

  max-width: 60%;
  transform: scale(0.95);
  opacity: 0;

  transition: transform 300ms ease,
  opacity 300ms ease;


  .modal.opened & {
    transform: scale(1);
    opacity: 1;
  }


  .modal.closing & {
    transform: scale(0.95);
    opacity: 0;
  }
}
