.modal {
  position: fixed;
  z-index: var(--z-index-modal);
  inset: 0;

  opacity: 0;
  pointer-events: none;

  transition: opacity 300ms ease;

  &.opened {
    opacity: 1;
    pointer-events: auto;
  }

  &.closing {
    opacity: 0;
    pointer-events: none;
  }
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: var(--overlay);


  transition: background 300ms ease;
}

.content {

  max-width: 60%;
  padding: 20px;
  border-radius: 20px;
  background: var(--modal-background);
  opacity: 0;
  transform: scale(0.95);

  transition: transform 300ms ease,
  opacity 300ms ease;


  .modal.opened & {
    opacity: 1;
    transform: scale(1);
  }


  .modal.closing & {
    opacity: 0;
    transform: scale(0.95);
  }
}
